[Unit]
Description=mqtt-mongo
Requires=mongodb.service
After=mongodb.service

[Service]
Type=simple
PIDFile=/var/run/mqtt-mongo.pid
ExecStart=/usr/bin/python3 /mnt/data/mydata/mqtt-mongo/mqtt-mongo.py

[Install]
WantedBy=multi-user.target
